{% extends "PouzorLolStatBundle::layout.html.twig" %}

{% block body %}

<h3>{{ summoner.name }} - {{ champName }}</h3>


<div class="row">
    <div class="col-md-5">
        <br/>
        <h4>Nombre de match enregistrés</h4>

<!--
        <table class="table table-condensed table-striped table-bordered table-hover" style="width: 300px">
            <thead>
                <tr>
                    <th class="text-center">
                        TOTAL
                    </th>
                    <th class="text-center">
                        {{ stats["total"]["nb"] }} <span style="font-size:10px">({{ stats["total"]["win"] }}/{{ stats["total"]["loose"] }})</span>
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Faille de l'invocateur</td>
                    <td>{{ stats["invocateur"]["nb"] }} <span style="font-size:10px">({{ stats["invocateur"]["win"] }}/{{ stats["invocateur"]["loose"] }})</span></td>
                </tr>
                <tr>
                    <td> - RANKED</td>
                    <td>{{ stats["ranked"]["nb"] }} <span style="font-size:10px">({{ stats["ranked"]["win"] }}/{{ stats["ranked"]["loose"] }})</span></td>
                </tr>
                <tr>
                    <td>Aram</td>
                    <td>{{ stats["aram"]["nb"] }} <span style="font-size:10px">({{ stats["aram"]["win"] }}/{{ stats["aram"]["loose"] }})</span></td>
                </tr>
                <tr>
                    <td>Dominion</td>
                    <td>{{ stats["dominion"]["nb"] }} <span style="font-size:10px">({{ stats["dominion"]["win"] }}/{{ stats["dominion"]["loose"] }})</span></td>
                </tr>
                <tr>
                    <td>3 V 3</td>
                    <td>{{ stats["3V3"] }}</td>
                </tr>
            </tbody>
        </table>
-->

        <div id="donuts" style="width:200px;height:200px;margin-left: 100px;"></div>
        <table style="margin-left:20px">
            <tr>
                <th class='text-center'>Classic</th><th class='text-center'>Ranked</th><th class='text-center'>Aram</th>
            </tr>
            <tr>
                <td><div id="donuts_classic" style="width:120px;height:120px"></div></td>

                <td><div id="donuts_ranked" style="width:120px;height:120px"></div></td>

                <td><div id="donuts_aram" style="width:120px;height:120px"></div></td>

            </tr>
        </table>


    </div>
    <!-- Stats global par type (KDA)-->

</div>

<h4 id="items_list">Items les plus utilisés</h4>

<div class="row">
    <table class="table table-condensed table-striped table-bordered table-hover col-md-8" style="width:800px">
        <thead>
            <tr>
                <th class="text-center">Item</th>
                <th class="text-center">Nb match</th>
                <th class="text-center">WinRate</th>
                <th class="text-center">Coût</th>
                <th class="text-center">K / D / A</th>

            </tr>
        </thead>
        <tbody id="game_container">
            {% for item in items %}
            {% include "PouzorLolStatBundle:Champion:_tableItem.html.twig" with { 'item' : item } %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td style="text-align:center" colspan="4">
                    <a href="#more" id="more_game">
                        Show more <span class="caret"></span>
                    </a>
                </td>
                <td class="text-center">
                    <a href="#items_list"># Top</a>
                </td>
            </tr>
        </tfoot>
    </table>

    <table class="ml30 table table-condensed table-striped table-bordered table-hover col-md-4" style="width: 300px; margin-left: 30px" id="filter_table">
        <thead>
            <tr>
                <th colspan="2" class="text-center">Filtres</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="vertical-align: middle">Type</td>
                <td>
                    <select class="form-control" name="matchType" id="types">
                        <option value="all">Tout</option>
                        <option selected="selected" value="CLASSIC">Faille de l'invocateur</option>
                        <option value="ARAM">ARAM</option>
                        <option value="DOMINION">DOMINION</option>
                        <option value="3v3">3v3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle">Ranked</td>
                <td>
                    <select class="form-control" name="ranked" id="">
                        <option value="all">Tout</option>
                        <option value="0">Non</option>
                        <option value="1">Oui</option>
                    </select>
                </td>
            </tr>

        </tbody>
    </table>

    <table class="ml30 table table-condensed table-striped table-bordered table-hover col-md-4" style="width: 300px; margin-left: 30px" id="order_table">
        <thead>
            <tr>
                <th colspan="2" class="text-center">Ordre</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    <select class="form-control" name="order" id="match_order">
                        <option value="nb">Nombre utilisation</option>
                        <option value="rate">Win Rate</option>

                    </select>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<br /><br />

<script type="text/javascript">
var offset = 0

function getFilter() {

    filter = new Array();

    $("#filter_table select").each(function() {
        var obj = {};
        obj[$(this).attr("name")] = $(this).val(); 
        filter.push(obj);

    }) 

    return JSON.stringify(filter, null, 2);   
}

$(document).ready(function() {



    $("#more_game").click(function () {
        offset += 10;
        $.ajax({
            type: "GET",
            url: "{{ path('ajax_more_item') }}",
            data: {offset: offset, idUser: "{{ summoner.id }}", "champName" : '{{ champName }}', filter: getFilter(), order: $("#match_order").val()}
        }).done(function (msg) {

            $("#game_container").append(msg);
        });
    });


    $("#filter_table select, #match_order").change(function() {
      $.ajax({
        type: "GET",
        url: "{{ path('ajax_more_item') }}",
        data: {offset: 0, idUser: "{{ summoner.id }}", "champName" : '{{ champName }}', filter: getFilter(), order: $("#match_order").val() }
    }).done(function (msg) {

        $("#game_container").html(msg);
    });
});  

   Morris.Donut({
    element: 'donuts',
    colors: ["#ABC8E2", "#375D81", "#C44C51", "#C79F4B"],
    data: [
    {label: "Classic", value: {{stats["invocateur"]["nb"] - stats["ranked"]["nb"]}} },
    {label: "Ranked", value: {{stats["ranked"]["nb"]}} },
    {label: "Aram", value: {{stats["aram"]["nb"]}} },
    {label: "Dominion", value: {{stats["dominion"]["nb"]}} }
    ]
});

Morris.Donut({
    element: 'donuts_classic',
    colors: ["#769600", "#DB2218"],
    data: [
    {label: "Win", value: {{ stats["invocateur"]["win"] - stats["ranked"]["win"]  }} },
    {label: "Loose", value: {{ stats["invocateur"]["loose"] - stats["ranked"]["loose"]  }} }
    ]
});

Morris.Donut({
    element: 'donuts_ranked',
    colors: ["#769600", "#DB2218"],
    data: [
    {label: "Win", value: {{ stats["ranked"]["win"]  }} },
    {label: "Loose", value: {{ stats["ranked"]["loose"]  }} }
    ]
});

Morris.Donut({
    element: 'donuts_aram',
    colors: ["#769600", "#DB2218"],
    data: [
    {label: "Win", value: {{ stats["aram"]["win"]  }} },
    {label: "Loose", value: {{ stats["aram"]["loose"]  }} }
    ]
}); 

});
</script>

{% endblock body %}