{% extends "PouzorLolStatBundle::layout.html.twig" %}

{% block body %}

    <h3>{{ summoner.name }} - {{ champName }}</h3>


    <div class="row">
        <div class="col-md-5">
            <br/>
            <h4>Nombre de match enregistrés</h4>


            <table class="table table-condensed table-striped table-bordered table-hover" style="width: 300px">
                <thead>
                <tr>
                    <th>TOTAL</th>
                    <th>{{ stats["total"]["nb"] }} <span style="font-size:10px">({{ stats["total"]["win"] }}/{{ stats["total"]["loose"] }})</span></th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>Faille de l'invocateur</td>
                    <td>{{ stats["invocateur"]["nb"] }} <span style="font-size:10px">({{ stats["invocateur"]["win"] }}/{{ stats["invocateur"]["loose"] }})</span></td>
                </tr>
                <tr>
                    <td> - RANKED</td>
                    <td>{{ stats["ranked"]["nb"] }} <span style="font-size:10px">({{ stats["ranked"]["win"] }}/{{ stats["ranked"]["loose"] }})</span></td>
                </tr>
                <tr>
                    <td>Aram</td>
                    <td>{{ stats["aram"]["nb"] }} <span style="font-size:10px">({{ stats["aram"]["win"] }}/{{ stats["aram"]["loose"] }})</span></td>
                </tr>
                <tr>
                    <td>Dominion</td>
                    <td>{{ stats["dominion"]["nb"] }} <span style="font-size:10px">({{ stats["dominion"]["win"] }}/{{ stats["dominion"]["loose"] }})</span></td>
                </tr>
                <tr>
                    <td>3 V 3</td>
                    <td>{{ stats["3V3"] }}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <!-- Stats global par type (KDA)-->

    </div>

    <h4 id="match_history">Items les plus utilisés</h4>

    <div class="row">
        <table class="table table-condensed table-striped table-bordered table-hover col-md-8" style="width:800px">
            <thead>
            <tr>
                <th>Picture</th>
                <th>Nom</th>
                <th>Nb</th>
                <th>WinRate</th>
                <th>Coût</th>
                <th>Stats</th>
                <th>Passive</th>
                <th>Active</th>
            </tr>
            {% for item in items %}
                {% include "PouzorLolStatBundle:Champion:_tableItem.html.twig" with { 'item' : item } %}
            {% endfor %}
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>


{% endblock body %}