<tr class="{% if game.win == 1 %}success{% else %}danger{% endif %} text-center">
    <td>{{ game.matchDate | date('d/m/Y H:i')}}</td>

    <td>
        <a href="{{ path("show_summoner_champion", {"userId" : game.idUser.id, "champName" : game.idChampion.name})}}"> 
            <img class="table_champ_pict" src="{{ asset('bundles/pouzorlolstat/images/champion/' ~ game.idChampion.name | replace({'.': ''}) | replace({' ': ''}) | replace({"'": ''}) ~ '.png') }}" title="{{ game.idChampion.name }}" />
        </a>
    </td>
    
    <td>{{ game.killed }} / {{ game.death }} /{{ game.assist }}</td>
    <td>{{ game.matchType}} {% if game.ranked %}<span class="label label-info">Ranked</span>{% endif %}</td>
    <td>{{game.gold}}g</td>
    <td>{{game.minionsKilled}}cs</td>
    <td>{{game.damagetochampion}}</td>
    <td>
        {% for item in game.items %}
            <img src="{{ asset('bundles/pouzorlolstat/images/item/' ~ item.id ~ '.png') }}" class="table_item_pict_small "/>
        {% endfor %}
    </td>
    <td>{{game.ipearned}} ip </td>
</tr>