<tr>
    <td style="padding-left:10px">        
        <a href="{{ path("show_summoner_champion", {"userId" : summoner.id, "champName" : champion.name})}}"> 
            <img class="table_champ_pict" src="{{ asset('bundles/pouzorlolstat/images/champion/' ~ champion.name | replace({'.': ''}) | replace({' ': ''}) | replace({"'": ''}) ~ '.png') }}" title="{{ champion.name }}" />
        </a>
        {{ champion.name }}
    </td>
    <td>{{ champion.nb_match }}</td>
    <td>{{ champion.k | number_format(1)}}</td>
    <td>{{ champion.d | number_format(1)}}</td>
    <td>{{ champion.a | number_format(1)}}</td>
</tr>