{% extends "PouzorLolStatBundle::layout.html.twig" %}

{% block body %}

<ol class="breadcrumb">
  <li><a href="{{ path("homepage") }}">Home</a></li>
  <li><a href="{{ path("show_summoner", {id : summoner.id}) }}">{{ summoner.name }}</a></li>
  <li class="active">Match History</li>
</ol>

<div class="page-header">
    <h1>
        <img class="profileicon" src="{{ asset('bundles/pouzorlolstat/images/profileicon/' ~ summoner.icon ~ '.png') }}" />
        {{ summoner.name }} 
        <small>Match History</small>
        <small style="font-size: 14px; ">
            <ul class="nav nav-pills" style="float:right;margin-top:10px">
                <li ><a href="{{ path("show_summoner", {id: summoner.id}) }}">General</a></li>
                <li class="active"><a href="{{ path("show_match_history", {id: summoner.id}) }}">Match History</a></li>
                <li><a href="{{ path("show_summoner_champions", {id: summoner.id}) }}">Champion stats</a></li>
                <li><a href="#">Rank stats</a></li>
            </ul>
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class=" panel panel-default" >

            <div id="match_history" class="panel-heading"><h4 >List of games</h4></div>

            <table class="table table-condensed table-bordered table-hover" >
                <thead>
                    <tr>
                        <th class=" text-center">Date</th>
                        <th class=" text-center">Champion</th>
                        <th class=" text-center">Score</th>
                        <th class=" text-center">Type</th>
                        <th class=" text-center">Gold</th>
                        <th class=" text-center">Cs</th>
                        <th class="text-center">Dmg to champion</th>
                        <th class=" text-center">Items</th>
                        <th class=" text-center">Ip</th>
                    </tr>
                </thead>
                <tbody id="game_container">

                    {% for game in games %}
                    {% include "PouzorLolStatBundle:Summoner:_tableGameDetails.html.twig" with { 'game' : game, 'summoner' : summoner } %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td style="text-align:center" colspan="8">
                            <a href="#more" id="more_game">
                                Show more <span class="caret"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#match_history"># Top</a>
                        </td>
                    </tr>
                </tfoot>
                
            </table>
        </div>
    </div>
</div>
<br /><br />

<script type="text/javascript">
$(document).ready(function() {
    var offset = 0;
    $("#more_game").click(function () {
        offset += 10;
        $.ajax({
            type: "GET",
            url: "{{ path('ajax_more_game_historic') }}",
            data: {offset: offset, id: "{{ summoner.id }}"}
        }).done(function (msg) {

            $("#game_container").append(msg);
        });
    });
})
</script>

{% endblock %}