{% extends "PouzorLolStatBundle::layout.html.twig" %}

{% block body %}

<ol class="breadcrumb">
  <li><a href="{{ path("homepage") }}">Home</a></li>
  <li><a href="{{ path("show_summoner", {id: summoner.id}) }}"> {{ summoner.name }}</a></li>
  <li class="active">Champions</li>
</ol>

<div class="page-header">
    <h1>
        <img class="profileicon" src="{{ asset('bundles/pouzorlolstat/images/profileicon/' ~ summoner.icon ~ '.png') }}" />
        {{ summoner.name }} 
        <small>Champions list</small>
        <small style="font-size: 14px; ">
            <ul class="nav nav-pills" style="float:right;margin-top:10px">
                <li ><a href="{{ path("show_summoner", {id: summoner.id}) }}">General</a></li>
                <li><a href="#">Match History</a></li>
                <li class="active"><a href="{{  path("show_summoner_champions", {id: summoner.id}) }}">Champion stats</a></li>
                <li><a href="#">Rank stats</a></li>
            </ul>
        </small>
    </h1>
</div>



<div class="row">
    <div class="col-md-8">
        <div class=" panel panel-default" style="width:750px">

            <div class="panel-heading"><h4 >Champions list</h4></div>

            <table class="table table-condensed table-bordered table-hover" >
                <thead>
                    <tr>
                        <th class="col-md-2 text-center">Name</th>
                        <th class="col-md-1 text-center">Nb Match</th>
                        <th class="col-md-1 text-center">Win rate</th>
                        <th class="col-md-1 text-center">K</th>
                        <th class="col-md-1 text-center">D</th>
                        <th class="col-md-1 text-center">A</th>
                        <th class="col-md-1 text-center">CS</th>
                        <th class="col-md-1 text-center">Gold</th>
                    </tr>
                </thead>
                <tbody id="champion_container">
                    {% for champion in champions %}
                    {% include "PouzorLolStatBundle:Summoner:_tableChampion.html.twig" with { 'champion' : champion, 'summoner' : summoner } %}
                    {% endfor %}
                </tbody>    
            </table>
        </div>
    </div>

    <div class="col-md-4">
        <div class=" panel panel-default" style="width:300px">

            <div class="panel-heading"><h4 >Filters</h4></div>
            <table class="table table-condensed table-striped table-bordered table-hover" id="filter_table">

                <tbody>
                    <tr>
                        <td style="vertical-align: middle" >Search</td>
                        <td><input class="form-control" placeholder="Ex : Lux" type="text" name="search" id="search"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle">Type</td>
                        <td>
                            <select class="form-control" name="matchType" id="types">
                                <option value="all">All</option>
                                <option value="CLASSIC">Classic</option>
                                <option value="RANKED">Ranked</option>
                                <option value="ARAM">ARAM</option>
                                <option value="DOMINION">DOMINION</option>
                                <option value="3v3">3v3</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel panel-default" style="width:300px">
            <div class="panel-heading"><h4 >Sorting</h4></div>
            <table class="table table-condensed table-striped table-bordered table-hover" id="sorting_table">
                <tbody>
                    <tr>
                        <td style="vertical-align: middle">By</td>
                        <td>
                            <select class="form-control" name="sorting" id="sorting">
                                <option value="nb_match">Nb Match</option>
                                <option value="rate">Win Rate</option>
                                <option value="cs">CS</option>
                                <option value="gold">Gold</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


<script type="text/javascript">
$(document).ready(function() {

    $("#search").keyup(function() {
        $(".champion_row").hide();
     
        $(".champion_row").each(function() {

            var name = $(this).data("name");
           
        
            if (name.indexOf($("#search").val()) != -1) {
                $(this).show();        
            }
        })
    });

    $("#filter_table select, #sorting_table select").change(function() {
      $.ajax({
        type: "GET",
        url: "{{ path('ajax_filter_champion') }}",
        data: {id: "{{ summoner.id }}", type: $("#types").val(), sorting: $("#sorting").val() }
    }).done(function (msg) {
        $("#champion_container").html(msg);
    });
});  


})

</script>

{% endblock %}    