{% extends "PouzorLolStatBundle::layout.html.twig" %}

{% block body %}



<br />
<div class="row">
    <h4>Liste des Summoners</h4>
	<table class="table table-condensed table-striped table-bordered table-hover" style="width: 500px">
		<thead>
			<tr>
				<th class="col-md-1">#</th>
				<th class="col-md-1">Nom</th>
				<th class="col-md-1">Rank</th>
			</tr>
		</thead>
		<tbody>
			{% for s in summoners %}
			<tr>
				<td>{{ s.id }}</td>
				<td><a href="{{path("show_sommoner", {"id": s.id})}}">{{ s.name }}</a></td>
				<td>TODO</td>
			</tr>
			{% endfor %}
		</tbody>	
	</table>
</div>



<div class="row">
    <h4 id="match_history">Dernières parties</h4>
    <table class="table table-condensed table-striped table-bordered table-hover" style="width: 900px">
        <thead>
            <tr>
                <th class="col-md-1 text-center">Date</th>
                <th class="col-md-1 text-center">Summoner</th>
                <th class="col-md-1 text-center">Champion</th>
                <th class="col-md-1 text-center">Type</th>
                <th class="col-md-1 text-center">Ranked</th>
                <th class="col-md-1 text-center">Win</th>
                <th class="col-md-1 text-center">K / D / A</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr class="{% if game.win == 1 %}success{% else %}danger{% endif %} text-center">
                <td>{{ game.matchDate | date('d/m/Y H:i')}}</td>
                <td>{{ game["idUser"]["name"] }}</td>
                <td>
                    <a href="{{ path("show_sommoner_champion", {"userId" : game.idUser.id, "champName" : game.idChampion.name})}}"> 
                        <img class="table_champ_pict" src="{{ asset('bundles/pouzorlolstat/images/champion/' ~ game.idChampion.name | replace({' ': ''}) ~ '.png') }}" title="{{ game.idChampion.name }}" />
                    </a>
                </td>
                <td>{{ game.matchType }}</td>
                    <td>{% if game.ranked == 1 %}RANKED{% else %}{% endif %}</td>
                <td>{% if game.win == 1 %}VICTOIRE{% else %}DEFAITE{% endif %}</td>
                <td>{{ game.killed }} / {{ game.death }} / {{ game.assist }}</td>


            </tr>
            {% endfor %}
        </tbody>    
    </table>
</div>


{% endblock body %}
